:root {
    --border: #888888;
    --decor: #777777;
    --text: #141414;
    --text-secondary: #555555;
    --danger: #d62c1a;
    --danger--dark: #a82315;
}

html {
    height: 100%;
    font-size: 16px;
    background: #f3f3f3;
}
​
body {
    font-family: sans-serif;
    margin: 0;
    padding: 2rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text);
}
​

p {
    margin: 0;
}
​
h1, h2 {
    line-height: 1.1;
    margin: 0;
}
​
.intro {
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
    border-bottom: 1px dotted var(--border);
}
​
.app__heading{
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.intro__heading {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
​
.intro__summary {
    margin-top: 0.3rem;
    font-size: 1.3rem;
    font-weight: 300;
}
​
.intro__summary b {
    font-weight: 500;
}
.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 2rem;
}
​
.app__decor {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
}
​
.app__decor small {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-secondary);
}
​
.app__decor > * {
    display: block;
}
​
.app__decor > * + * {
    margin-top: 0.4rem;
}
​
.new-item {
    margin: 2rem 0 0 0;
    padding: 1rem 0 0 0;
    border-top: 1px dotted var(--border);
}
​
.new-item__button {
    position: relative;

}
​
​
.visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}

.input-field-forms,  .c-input-field {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ddd;
    outline: none;
}

.input-field-forms:focus,.c-input-field:focus {
    background-color: lightblue;
}

.label-input-form, .c-label{
    color: #141414;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    margin: auto 37%;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
}
.form-styles{
    font-size: 20px;
    margin: auto 37% ;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
}

.todo-items-style{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;

}



.button-wrapper,.mainform-buttons{
    display: flex;
}

.headertext{
    display: flex;
    justify-content: center;
}

#toRegister, #signIn, #register-button, #go-back , #new-item-button,#exitbutton{
    background-color: #127c00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
   }
#go-back,#exitbutton{
    background: #d62c1a;
}
.register-buttons{
    display: flex;
}

#toRegister:hover,#signIn:hover,#register-button:hover, #go-back:hover, #new-item-button:hover, #exitbutton:hover {
    opacity: 0.8;
    background:darkolivegreen ;
}

.list-checkbox{
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.underline-text{
    text-decoration: line-through;
}

.buttonsInform{
    display: none;
}

.editTodo{
    display: none;
}